@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Bold";
  src: url(079ca05d3ded9bc107ab8a8da013be22.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(3cd786652b8a2e9d41f210cb1a527ff6.ttf) format("truetype");
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(7896b58ddc7895f5d6bf0921c70ca00a.eot);
  src: url(7896b58ddc7895f5d6bf0921c70ca00a.eot#iefix) format("embedded-opentype"), url(ade4f33025b11ffb43d5816cbef5ec2f.ttf) format("truetype"), url(8cc6b38845bcb18934b1e08f971d1792.woff) format("woff"), url(5e515bc55e6340e010626e27d31b7c1f.svg#icons) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-minus:before {
  content: "";
}

._icon-plus:before {
  content: "";
}

._icon-arrow:before {
  content: "";
}

._icon-circle:before {
  content: "";
}

._icon-arrow_up:before {
  content: "";
}

._icon-arrow_down:before {
  content: "";
}

._icon-favorite:before {
  content: "";
}

._icon-favorite_border:before {
  content: "";
}

._icon-ellipse:before {
  content: "";
}

._icon-logo:before {
  content: "";
}

._icon-info:before {
  content: "";
}

._icon-smile:before {
  content: "";
}

._icon-city:before {
  content: "";
}

._icon-logotext:before {
  content: "";
}

._icon-ellipse_border:before {
  content: "";
}

._icon-star:before {
  content: "";
}

._icon-star_border:before {
  content: "";
}

._icon-toxin:before {
  content: "";
}

._icon-ellipse_button:before {
  content: "";
}

._icon-circle_button:before {
  content: "";
}

._icon-check_mark:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

.header {
  background: #FFF;
}

/*Фиксирование шапки на странице*/
/* Ограничивающий контейнер + отступы от края страницы при адаптиве*/
.header__container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Тело шапки*/
.header__body {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  min-height: 70px;
  align-items: center;
  flex: 0 1 1160px;
}
@media (max-width: 945px) {
  .header__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6px;
  }
}

/*Логотип*/
.header__logo {
  background-image: url(82b4291f360b79033292d522fd131a55.svg);
  background-repeat: no-repeat;
  background-position: left;
  height: 40px;
  width: 106px;
}

/*Меню*/
.header__menu {
  display: flex;
  flex: 0 1 725px;
  justify-content: flex-end;
}
@media (max-width: 945px) {
  .header__menu {
    display: flex;
    flex: 0 1 945px;
    flex-wrap: wrap;
    justify-content: center;
    order: 1;
    margin-bottom: 8px;
    margin-top: 5px;
  }
}

/*Блок с элементами меню*/
.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Элементы меню: текcт+стрелки*/
.menu__item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  position: relative;
  /*
  //Определение правил поведения для элементов при ширине экрана меньше 768px
  @media (max-width: $md3+px) {
  	&._hover {
  		.menu__sub-list {
  			opacity: 1;
  			visibility: visible;
  			pointer-events: auto;
  		}
  		.menu__arrow {
  			padding: 0 6px 0 0; //Отступ слева от стрелки задются padding-right так как стрелка перевернется на 180 градусов
  			transform: rotate(-180deg); //Поворот стрелки на 180 градусов
  		}
  		.menu__arrow,
  		.menu__link {
  			color: $GreenColor;
  		}
  	}
  } */
}
@media (max-width: 935px) {
  .menu__item:first-child {
    margin-left: 0px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 50;
  }
  .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
    padding: 0 6px 0 0;
  }
  .menu__item:hover .menu__arrow,
.menu__item:hover .menu__link {
    color: #6FCF97;
  }
}

/*Текстовые ссылки в меню*/
.menu__link {
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  transition: color 1s ease 0s;
}

/*Стрелка возле текстовых ссылок в меню*/
.menu__arrow {
  margin: 0 0 0 0;
  padding: 0 0 0 6px;
  transition: all 0.3s ease 0s;
  font-size: 8px;
  border: none;
  background: none;
  color: rgba(31, 32, 65, 0.5);
}

/* Настраиваем отступ слева у раздела меню "О нас"*/
.menu__item_menu__item_indent-onas {
  margin-left: 20.7px;
}
@media (max-width: 767.98px) {
  .menu__item_menu__item_indent-onas {
    margin-left: 0;
  }
}

/*Обертка для раздела меню "Услуги"*/
.menu__item_indent-uslugi {
  width: 89px;
  display: flex;
  justify-content: flex-end;
}

/*Обертка для раздела меню "Вакансии"*/
.menu__item_indent-vakancii {
  width: 96px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 256px) {
  .menu__item_indent-vakancii {
    justify-content: center;
  }
}

/*Обертка для раздела меню "Новости"*/
.menu__item_indent-novosti {
  width: 82px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 338px) {
  .menu__item_indent-novosti {
    justify-content: center;
  }
}

/*Обертка для раздела меню "Соглашения"*/
.menu__item_indent-soglashenia {
  width: 131px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 469px) {
  .menu__item_indent-soglashenia {
    justify-content: center;
  }
}
@media (max-width: 254px) {
  .menu__item_indent-soglashenia {
    justify-content: center;
  }
}

/*Выпадающее меню*/
.menu__sub-list {
  position: relative;
  background-color: lightgrey;
  padding: 15px;
  flex: 1 1 100%;
  list-style-type: none;
}
@media (min-width: 767.98px) {
  .menu__sub-list {
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media (max-width: 767.98px) {
  .menu__sub-list {
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    min-width: 100%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/*Элементы выпадающего меню*/
.menu__sub-item:not(:last-child) {
  margin: 0 0 3px 0;
}

/*Ссылки в выпадающем меню*/
.menu__sub-link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

/*Меню-бургер*/
/*Авторизация на сайте*/
.header__authorization {
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 465px) {
  .header__authorization {
    width: 329px;
  }
}
@media (max-width: 465px) {
  .header__authorization {
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0 5px 0;
    width: 100%;
  }
}

/*Войти*/
/*Кнопка "Войти"*/
button.header__entrance-button {
  border: none;
  background: none;
  background-image: url(de511383397808561f609979ff8b92b9.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 87px;
  height: 34px;
  margin-right: 20px;
  margin-left: 26px;
}
@media (max-width: 465px) {
  button.header__entrance-button {
    margin-left: 0;
  }
}
@media (max-width: 332px) {
  button.header__entrance-button {
    margin-bottom: 10px;
    margin-left: 20px;
  }
}

/*Ссылка в кнопке "Войти"*/
.header__entrance-link {
  text-decoration: none;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

/*Регистрация*/
/*Кнопка "Регистрация"*/
button.header__registration-button {
  border: none;
  background: none;
  background-image: url(e7dadef9582f71b76de15768d6c77637.svg);
  background-repeat: no-repeat;
  width: 196px;
  height: 34px;
}

/*Ссылка в кнопке "Регистрация"*/
.header__registration-link {
  text-decoration: none;
  font-family: "Montserrat-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content {
  background: #CC9999;
  background-image: url(cbaf98ee4ea8c3ba451eba2ac1e0bb7b.jpg);
  padding-top: 62.5%;
  background-size: 1440px 900px;
  background-position: center center;
}

.footer {
  /* .footer__container================Ограничивающий контейнер + отступы безопасности */
  /* .footer__top================================================Верхняя часть подвала */
  /* .footer__logo=====================================================Блок с логотипом */
  /* .footer__logo-img */
  /* .footer__logo-link */
  /* .footer__text */
  /* .footer__navigation==============================================Блок "Навигация" */
  /* .footer__about-us====================================================Блок "О нас" */
  /* .footer__support==========================================Блок "Служба поддержки" */
  /* .footer__subscription=============================================Блок "Подписка" */
}
.footer hr {
  padding: 0;
  margin: 0;
  color: #d1d1d4;
}
.footer__container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__top {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  min-height: 372px;
  align-items: center;
  flex: 0 1 1160px;
}
.footer__logo {
  width: 345px;
  height: 168px;
}
.footer__logo-img {
  background-image: url(82b4291f360b79033292d522fd131a55.svg);
  background-repeat: no-repeat;
  background-position: left;
  height: 40px;
  width: 106px;
  margin: 0 0 2px 0;
}
.footer__text {
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.footer__navigation {
  width: 230px;
  height: 164px;
  padding: 0 0 0 28px;
}
.footer__about-us {
  width: 220px;
  height: 162px;
  padding: 0 0 0 19px;
}
.footer__support {
  width: 230px;
  height: 162px;
  padding: 0 0 0 28px;
}
.footer__subscription {
  width: 330px;
  height: 164px;
  padding: 0 0 0 19px;
}

.navigation {
  /* .navigation__list */
  /* .navigation__item-title */
  /* .navigation__item */
  /* .navigation__link */
}
.navigation__list {
  margin: 0;
  padding: 0;
}
.navigation__item-title {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: Dark 100%;
  margin-bottom: 12px;
}
.navigation__item {
  list-style-type: none;
}
.navigation__link {
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  color: rgba(31, 32, 65, 0.5);
}

.about-us {
  /* .about-us__list */
  /* .about-us__item-title */
  /* .about-us__item */
  /* .about-us__link */
}
.about-us__list {
  margin: 0;
  padding: 0;
}
.about-us__item-title {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: Dark 100%;
  margin-bottom: 13px;
}
.about-us__item {
  list-style-type: none;
}
.about-us__link {
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  color: rgba(31, 32, 65, 0.5);
}

.support {
  /* .support__list */
  /* .support__item-title */
  /* .support__item */
  /* .support__link */
}
.support__list {
  margin: 0;
  padding: 0;
}
.support__item-title {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: Dark 100%;
  margin-bottom: 11px;
}
.support__item {
  list-style-type: none;
}
.support__link {
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 38px;
  color: rgba(31, 32, 65, 0.5);
}

.subscription {
  /* .subscription__title */
  /* .subscription__text */
  /* .subscription__form-email */
}
.subscription__title {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: Dark 100%;
  padding: 0;
  margin: 0 0 20px 0;
}
.subscription__text {
  text-decoration: none;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
.subscription__form-email {
  margin: 5px 0 0 0;
  padding-left: 12px;
  width: 94%;
  height: 40px;
  color: #5a5854;
  /*Цвет текста формы*/
  background-color: #ffffff;
  /*Цвет формы*/
  border: 1px solid #bdbdbd;
  /*Граница формы*/
  border-radius: 5px;
  background-repeat: no-repeat;
  /*Отменяет повтор вставленной картинки (значение по умолчанию)*/
  background-position: 95% 50%;
  /*Местоположение вставленной картинки*/
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.subscription input.subscription__form-email:focus, .subscription input:hover {
  background-color: #f2f2f2;
  border: 1px solid #b1e1e4;
}
.subscription input#img-form {
  /*Вставка картинки в форму*/
  background-image: url(2413294392c28620a3170b63c775c49e.svg);
}

.footer {
  /* .footer__bottom==============================================Нижняя часть подвала */
  /* .footer__copyright=======================================================Копирайт */
  /* .footer__social-network===========================================Иконки соцсетей */
  /* .footer__copyright */
  /* .footer__text-copyright */
}
.footer__bottom {
  display: flex;
  margin-top: 8px;
}
.footer__social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 114px;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 1031px;
  padding-right: 20px;
}
.footer__text-copyright {
  margin-top: 15px;
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.social-network {
  /* .social-network__twitter-link */
  /* .social-network__twitter-icon */
  /* .social-network__facebook-link */
  /* .social-network__facebook-icon */
  /* .social-network__instagram-link */
  /* .social-network__instagram-icon */
}
.social-network__twitter-icon {
  background-image: url(e83d081c355f3bfa3013fe0914697e01.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
}
.social-network__facebook-icon {
  background-image: url(14798eef57e0bc2eaa3e70ba423aa8b5.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  margin-left: 18px;
}
.social-network__instagram-icon {
  background-image: url(cbed2eee9904f7233b65d69870c07eeb.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  margin-left: 18px;
}

body {
  background: #fff;
  border: 0;
  /*Обнуление предустановленного в браузере отступа*/
  margin: 0;
  /*Обнуление предустановленного в браузере отступа*/
  padding: 0;
  /*Обнуление предустановленного в браузере отступа*/
}

/*
h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 18px;

}

pre {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: $fontsize; //использование переменной для определения размера шрифта
	position: relative;
	top: 10px;
}

.logo {
	background-image: url('./assets/webpack-logo.png');
	background-size: cover; 
	height: 100px;
	width: 100px;
	margin-top: 15px;
	margin-left: 15px;
	position: relative;
	top: 10px;
}*/
