.header {
background: #FFF;
position: absolute;
width: 100%;
left: 0;
top: 0;
}

/*Фиксирование шапки на странице*/
.header__wrapper {
position: fixed;
width: 100%;
background: #FFF;
left: 0;
top: 0;
z-index: 50;
}

.header__container {}

//- Ограничивающий контейнер + отступы от края страницы при адаптиве
._container {
max-width: $maxWidthContainer;
padding: 0 15px; //Добавляются отступы по 15px при уменьшении страницы меньше значения max-width
margin: 0 auto; 
}

/*Тело шапки*/
.header__body {
//background: yellow;
margin: auto; //Центрирование на странице
display: flex; //Создание flex-контейнера и выстраивание всех объектов в ряд
flex-wrap: nowrap; //Отмена многострочного режима для flex-контейнера
justify-content: flex-start; //Выравнивание элементов в одной строке по горизонтали по левому краю
padding: 0;
min-height: 70px; //Задаётся минимальная высота шапки
max-width: $maxWidthContainer; //задается максимальное значение ширины контентной части
align-items: center; //Выравнивание объектов по вертикали в однострочном режиме
flex: 0 1 1160px; //Задаём размеры блока в % от его общей ширины
//Эти правила действуют при ширине экрана меньше 945px
@media (max-width: 945px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 6px; //Отступ сверху для блока с логотипом 
		} 
}

/*Оболочка для логотипа и меню*/
/*
.header__main {
display: flex;
flex-wrap: nowrap;
justify-content: flex-start; //Выравнивание элементов по горизонтали
align-items: center; //Выравнивание объектов по вертикали в однострочном режиме
flex: 0 1 857/1160 * 100%; //Задаём размеры блока в % от его общей ширины
}*/

/*Логотип*/
.header__logo {
	//background: orange;
	background-image: url('./assets/img/logo.svg');//Изображение ставиться фоном в блоке
	background-repeat: no-repeat;
	background-position: left; 
	height: 40px;
	width: 106px;
   }

/*Меню*/
.header__menu {
	//background: pink;
	display: flex;
	flex: 0 1 725px; //Адаптивно задаются размеры блока Меню
	flex-wrap: nowrap;
	justify-content: flex-end; //Выравнивание элементов в одной строке по горизонтали по правому краю
		//Эти правила действуют при ширине экрана меньше 945px
		@media (max-width: 945px) {
			display: flex;
			flex: 0 1 945px; //Адаптивно задаются размеры блока Меню
			flex-wrap: wrap;
			justify-content: center;
			order: 1; //Изменение порядка расположения блока во flex-контейнере
			margin-bottom: 8px; //Отступ снизу для разделов меню при уменьшенном экране
		} 
	}

.menu {}

/*Текстовые элементы меню*/
	.menu__list {
	margin: 0;
	padding: 0;
	//Эти правила действуют при ширине экрана больше 768px ($md3+px)
		@media (min-width: $md3+px) {
			display: flex;
			flex-wrap: wrap;
		}
		//Эти правила действуют при ширине экрана меньше 969px 
		@media (max-width: 969px) {
			display: flex;
			flex-wrap: wrap;
			// flex: 0 1 660px; //Адаптивно задаются размеры блока c текстовыми элементами Меню
		    justify-content: center;
		}
	}

 	/* Элементы меню: текcт+стрелки*/
	.menu__item {
		//background: orange;
		display: flex; //Поставить элементы меню в ряд c кнопками в виде стрелок
		align-items: center;
		flex-wrap: wrap;
		margin-left: 22px; //Отступ слева между всеми элементами меню
		//Эти правила действуют при ширине экрана меньше 969px 
		@media (max-width: 935px) {
			&:first-child {
			margin-left: 0px; //Задается 0 отступ первому элементу в списке 
			}
		}
		padding: 5px 0;
		position: relative;
		//Настройка анимации стрелки и отображения выпадающего меню при наведении указателя мыши на элементы меню
		@media (any-hover: hover){ //Показывается подменю при наведении мыши на родительский элемент
			&:hover{
				.menu__sub-list {
					opacity: 1;
					visibility: visible; //Элемент виден
					pointer-events: auto;
					z-index: 50; //Показывает выпадающее меню поверх всех остальных элементов
				}
				.menu__arrow {
					transform: rotate(-180deg); //Поворот стрелки на 180 градусов
					padding: 0 6px 0 0; //Создание отступа слева от стрелки. Задется изменением параметра padding-right, так как стрелка перевернется на 180 градусов
				}
				.menu__arrow,
				.menu__link {
					color: $GreenColor;
				}
			}
		}
		@media (max-width: $md3+px) {
			&._hover {
				.menu__sub-list {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.menu__arrow {
					padding: 0 6px 0 0; //Отступ слева от стрелки задются padding-right так как стрелка перевернется на 180 градусов
					transform: rotate(-180deg); //Поворот стрелки на 180 градусов
				}
				.menu__arrow,
				.menu__link {
					color: $GreenColor;
				}
			}
		} 
	}

	/*Текстовые ссылки в меню*/
	.menu__link {
		text-decoration: none;
		font-family: 'Montserrat-Regular', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: $DarkColortwo; //Dark 50%
		transition: color 1s ease 0s; //Подсвечмвание элементов меню при раскрытии выпадающего списка
	}

	/*Стрелка в выпадающем меню*/
	.menu__arrow {
		margin: 0 0 0 0;
		padding: 0 0 0 6px; //Отступ слева между стрелкой и текстовым элементом
		transition: all 0.3s ease 0s;
		font-size: 8px;
		border: none; //Отмена обводки кнопки по умолчанию 
		background: none; //Отмена обводки кнопки по умолчанию
		color: $DarkColortwo; //Dark 50%
	}


	
	/* Переопределяем отсnуп слева у разделов меню, чтобы выставить их в соответствии с сеткой Pixel Perfect*/
	.menu__item_margin-left-onas { //Переопределение отступа слева у раздела "О нас"
		margin-left: 20.7px;
		//Определение правил поведения для элементов при ширине меньше 768px
			@media (max-width: $md3+px) {
			margin-left: 0;
		}
	}

	.menu__item_margin-left-uslugi { //Переопределение отступа слева у раздела "Услуги"
		margin-left: 20.7px;
		//Определение правил поведения для элементов при размере экрана меньше 768px
			@media (max-width: $md3+px) {
			margin-left: 22px;
		}
	}

	.menu__item_margin-left-vakancii { //Переопределение отступа слева у раздела "Вакансии"
		margin-left: 25px;
			//Определение правил поведения для элементов при размере экрана меньше 768px
			@media (max-width: $md3+px) {
			margin-left: 22px;
		}
	}

	.menu__item_margin-left-novosti {
		margin-left: 20px; //Пеереопределение отступа слева у раздела "Новости"
			//Определение правил поведения для элементов при ширине экрана меньше 768px
			@media (max-width: $md3+px) {
			margin-left: 22px;
		}
	}

	.menu__item_margin-left-soglashenia { //Переопределение отступа слева у раздела "Соглашение"
		margin-left: 21px;
			//Определение правил поведения для элементов при ширине экрана меньше 768px
			@media (max-width: $md3+px) {
			margin-left: 22px;
		}
	}

		._icon-arrow_down {}


	/*Выпадающее меню*/
	.menu__sub-list {
		position: relative;
		background-color: lightgrey;
		padding: 15px;
		flex: 1 1 100%;
		list-style-type: none;
		//Эти правила действуют при ширине экрана больше $md3+px
		@media (min-width: $md3+px) {
			opacity: 0;
			transition: all 0.3s ease 0s;
			visibility: hidden; //Свойство предназначен для отображения или скрытия элемента
			min-width: 100%;
			pointer-events: none;
			position: absolute;
			top: 100%;
			left: 0;
		} 
		//Эти правила действуют при ширине экрана меньше $md3+px
		@media (max-width: $md3+px) {
			opacity: 0;
			transition: all 0.3s ease 0s;
			visibility: hidden; //Свойство предназначен для отображения или скрытия элемента
			min-width: 100%;
			pointer-events: none;
			position: absolute;
			top: 100%;
			left: 0;
		} 
	}

	/*Элементы выпадающего меню*/
	.menu__sub-item {
		&:not(:last-child) {
			margin: 0 0 3px 0; //Задается отступ снизу всем элементам, кроме последнего
		}
	}

	/*Ссылки в выпадающем меню*/
	.menu__sub-link {
		text-decoration: none;
		color: $DarkColortwo; //Dark 50%
	    font-family: 'Montserrat-Regular', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px; 
	}

	/*Меню-бургер*/
	.icon-menu {} 


	/*Авторизация на сайте*/
	.header__authorization {
		//background: lightblue;
		position: relative;
		display: flex;
		align-items: center; //Выравнивание блоков по вертикали
		//Эти правила действуют при ширине экрана меньше 482px
		@media (max-width: 482px) {
			flex-wrap: wrap;
			justify-content: center;
			margin: 25px 0 5px 0;
		}

	}

	/*Войти*/
	.header__entrance {}

	/*Кнопка "Войти"*/
	button.header__entrance-button {
		border: none; //Отмена обводки кнопки по умолчанию 
		background: none; //Отмена обводки кнопки по умолчанию
		background-image: url('./assets/img/entrance-button.svg');
		background-repeat: no-repeat;
		background-position: center; 
		width: 87px;
		height: 34px;
		margin-right: 20px;
		margin-left: 27px;
		//Эти правила действуют при ширине экрана меньше 380px
		@media (max-width: 376px) {
			margin-bottom: 10px;
		}
	}

	/*Ссылка в кнопке "Войти"*/
	.header__entrance-link {
		text-decoration: none;
		font-family: 'Montserrat-Bold', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $PurpleColor; //Фиолетовый цвет	
	}

	/*Регистрация*/
	.header__registration {}

	/*Кнопка "Регистрация"*/
	button.header__registration-button {
		border: none;
		background: none;
		background-image: url('./assets/img/registration-button.svg');
		background-repeat: no-repeat;
		width: 196px;
		height: 34px;
	}

	/*Ссылка в кнопке "Регистрация"*/
	.header__registration-link {
		text-decoration: none;
		font-family: 'Montserrat-Bold', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $WhiteColor; //Dark 50%
	}
