doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		//-Задается параметр "Ширина сайта равна 100% от заданных в коде параметров"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Search room_the 2nd task MetaLamp
		link(rel="icon", href="favicon.ico", type="image/ico")
	body
		include components/header/header.pug
		include components/content/content.pug
		include components/footer/footer.pug
//
	h1._icon-favorite Hello, dear friends!
		pre.
			Не убегайте от своей любви…
			Не разрушайте маленькое счастье,
			Не говорите тихо: "Уходи",
			Когда душа разорвана на части.

			Не убегайте от своей любви,
			Дарите счастье тем, кто рядом с вами.
			Не позволяйте зависти и лжи
			Овладевать вдруг вашими сердцами.

			Не убегайте от своей любви!
			И никогда её не оставляйте!
			И даже если стерты все следы,
			Любите, верьте, только не теряйте!

			Не убегайте от своей любви!
			Сквозь боль и слезы напролом идите!
			Не говорите тихо: "Уходи",
			А просто все забудьте и простите.

			Не убегайте от своей любви!
			Ведь это лучшее, что есть у вас отныне!
			Храните чувства светлые свои,
			Хоть это тяжело в жестоком мире.

			Борис Пастернак
		div.logo