//ПЕРЕМЕННЫЕ===============================================================
$WhiteColor: #FFFFFF; //белый 
$DarkColor: #1F2041; //серый 100% 
$DarkColortwo: rgba(31, 32, 65, 0.5); //серый 50% 
$PurpleColor: #BC9CFF; //фиолетовый цвет
$PurpleTwoColor: #8BA4F9; //второй фиолетовый цвет
$GreenColor: #6FCF97; //зеленый цвет
$BlueColor: #66D2EA; //синий цвет

$fontsize: 14px; //объявление переменной для размера шрифта

$minWidth: 320px; //минимальное значение ширины страницы
$maxWidth: 1440px; //максимальное значение ширины страницы
$maxWidthContainer: 1160px; //максимальное значение ширины контентной части 
$md1: $maxWidthContainer + 12;

$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//ИМПОРТЫ==================================================================
@import "fonts.scss";
@import "icons.scss";
@import "header.scss";
@import "content.scss";


//ОСНОВНАЯ СЕТКА============================================================

body {
	background: $WhiteColor; //использование переменной для определения цвета
	border: 0; /*Обнуление предустановленного в браузере отступа*/
 	margin: 0; /*Обнуление предустановленного в браузере отступа*/
  	padding: 0; /*Обнуление предустановленного в браузере отступа*/
}


/*
h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 18px;
	
}

pre {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: $fontsize; //использование переменной для определения размера шрифта
	position: relative;
	top: 10px;
}

.logo {
	background-image: url('./assets/webpack-logo.png');
	background-size: cover; 
	height: 100px;
	width: 100px;
	margin-top: 15px;
	margin-left: 15px;
	position: relative;
	top: 10px;
}*/

