//ПЕРЕМЕННЫЕ===============================================================
$WhiteColor: #FFFFFF; //белый 
$DarkColor: #1F2041; //серый 100% 
$DarkColortwo: rgba(31, 32, 65, 0.5); //серый 50% 
$PurpleColor: #BC9CFF; //фиолетовый цвет
$PurpleTwoColor: #8BA4F9; //второй фиолетовый цвет
$GreenColor: #6FCF97; //зеленый цвет
$BlueColor: #66D2EA; //синий цвет

$fontsize: 14px; //объявление переменной для размера шрифта

$minWidth: 320px; //минимальное значение ширины страницы
$maxWidth: 1440px; //максимальное значение ширины страницы
$maxWidthContainer: 1160px; //максимальное значение ширины контентной части 
$md1: $maxWidthContainer + 12;

$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

//ИМПОРТЫ==================================================================
@import "fonts.scss";
@import "icons.scss";
@import "components/header/header.scss";
@import "components/content/content.scss";
@import "components/footer/footer.scss";
@import "components/search-room-form/search-room-form.scss";
@import "pages/starting-page/starting-page.scss";
@import "layouts/layouts.scss";
@import "components/colors/colors.scss";
@import "components/type/type.scss";
@import "pages/ui-kit-colors-type/ui-kit-colors-type.scss";
//@import "components/text-field/text-field.scss";
//@import "Normaliz.css";



//ОСНОВНАЯ СЕТКА============================================================

body {
  background: #fff; //Использование переменной для определения цвета
  border: 0; //Обнуление предустановленного в браузере отступа
  margin: 0; //Обнуление предустановленного в браузере отступа
  padding: 0; //Обнуление предустановленного в браузере отступа
}




