doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    //-Задается параметр "Ширина сайта равна 100% от заданных в коде параметров"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Search room_the 2nd task MetaLamp
    link(rel="icon", href="favicon.ico", type="image/ico")
  body
    block header
      include ../components/header/header.pug
    block content
    block footer
      include ../components/footer/footer.pug