header.header
	//
		//- Оболочка шапки_нужна для фиксирования шапки на странице 
		div.header__wrapper
	//- Ограничивающий контейнер + отступы безопасности
	div.header__container
		//- Тело шапки
		div.header__body
			//- Логотип 
			a.header__logo-link(href="https://www.figma.com/proto/MumYcKVk9RkKZEG6dR5E3A/MetaLamp-(former-FSD)-frontend-education-program.-The-2nd-task?node-id=18374%3A5" target="_blank")
				div.header__logo
			//- Меню
			div.header__menu.menu
				ul.menu__list
					li.menu__item.menu__item_indent-onas
						a.menu__link(href="#") О нас
					li.menu__item.menu__item_indent-uslugi
						a.menu__link(href="#") Услуги
						button.menu__arrow._icon-arrow_down(data-spoller, type="button")
						//- Выпадающее меню в разделе "Услуги"
						ul.menu__sub-list
							li.menu__sub-item
								a.menu__sub-link(href="#") Услуга 1
							li.menu__sub-item
								a.menu__sub-link(href="#") Услуга 2
							li.menu__sub-item
								a.menu__sub-link(href="#") Услуга 3
					li.menu__item.menu__item_indent-vakancii
							a.menu__link(href="#") Вакансии
					li.menu__item.menu__item_indent-novosti
							a.menu__link(href="#") Новости
					li.menu__item.menu__item_indent-soglashenia
						a.menu__link(href="#") Соглашения
						button.menu__arrow._icon-arrow_down(data-spoller, type="button")
						//- Выпадающее меню в разделе "Соглашения"
						ul.menu__sub-list
							li.menu__sub-item
								a.menu__sub-link(href="#") Соглашение 1
							li.menu__sub-item
								a.menu__sub-link(href="#") Соглашение 2
							li.menu__sub-item
								a.menu__sub-link(href="#") Соглашение 3
			//- Меню-бургер
			// button.icon-menu(type="button")
					span О нас
					span Услуги
					span Вакансии
					span Новости
					span Соглашения 
			//- Авторизация на сайте
			div.header__authorization
				//- Войти
				div.header__entrance
					button.header__entrance-button
						a.header__entrance-link(href="#") Войти
				//- Регистрация
				div.header__registration
					button.header__registration-button
						a.header__registration-link(href="#") Зарегистрироваться