extends ../../layouts/ui-kit-layout.pug
block content
  div.container-color-type
    div.container-color-type__colors
      include ../../components/colors/colors.pug
    div.container-color-type__type
      include ../../components/type/type.pug